
html{
background-color: white;
font-family: 'Varela Round', sans-serif;
}
header{
  font-size:  50pt;
  font-family: 'Permanent Marker', cursive;
  padding-left: 10pt;
  padding-right: 10pt;

}
h1{
  padding-left: 10pt;
  padding-right: 10pt;
  padding-top: 10pt;
  font-size: 20pt;
}
h2 {
  padding-left: 10pt;
  padding-right: 10pt;
}
.headerGrid{
  display: grid;
  grid-template-columns: 25% 75% ;
  grid-gap: 10px;
  padding: 0px;
}
.menuHeaders{
  display: grid;
  grid-template-columns: auto auto auto auto ;
background-color: black;

}
.menuHeader{
  color: white;
  vertical-align:middle;
  height: 40pt;
}
.selectedMenuHeader{
  color: white;
  background-color: blue;
  vertical-align:middle;
  height: 40pt;
}
.cat-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto ;
  grid-gap: 10px;
  padding: 10px;
}
.adviceOrientation{

  background-color: #37738d;

  background-image: url("../../resources/background_blue.tif");
  color: #f19d42;
  grid-column: 1/4;
}
.adviceOrientationOptions{
  font-size: 15pt;
  color: #8A3100;
}
.StudyEssentials{
  background-color: #8d2323;
  background-image: url("background_pink.tif");
  color : #42EB44;
  grid-column: 3/6;
}
.StudyEssentialsOptions{
  font-size: 15pt;
  color: #315200;
}
.yourFuture{
  background-color: #37738d;
  background-image: url("background_orange.tif");
  color: #37738d;
  grid-column: 1/4;
}
.yourFutureOptions{

  font-size: 15pt;
  color: #214a5c;
}
.moneyMatters{
  background-color: #8d2323;
  background-image: url("background_green.tif");
  color : #8d2323;
  grid-column: 3/6;
}
.moneyMattersOptions{
  font-size: 15pt;
  color: #8d2323;
}
.search-bar {

}
.input_field_search{
  width: 80%;
  font-size: 20px;
}
.search_button{
  font-size: 20px;
}
.relatedlinks{
  grid-column: 1;
}
