:root {
  --advice_bg_colour: #112440;
    --advice_bg1_colour : #ecdcd3;
  --advice_bg_image :url("../resources/bg1.png");
  --study_bg_colour: #3574CC;
    --study_bg1_colour :#e9d6ee;
  --study_bg_image :url("../resources/bg2.png");
  --future_bg_colour: #214880;
    --future_bg1_colour : #d5d1f0;
  --future_bg_image :url("../resources/bg3.png");
  --money_bg_colour: #3C82E6;
    --money_bg1_colour : #d1e7d5;
  --money_bg_image :url("../resources/bg4.png");
  --index_bg_colour:#112440;
  --index_bg_image:url("../resources/bgm.png");
}
html{
background-color: #C1CED6;
font-family: 'Varela Round', sans-serif;
}
h1 {
  font-size:  40pt;
  font-family: 'Permanent Marker', cursive;
  padding-left: 10pt;
  padding-right: 10pt;

}
h2 {
  padding-left: 10pt;
  padding-right: 10pt;
  font-size: 20pt;

}
h3 {
  font-size: 15pt;
  color: #282828;
}
a{
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  line-height: 1.4em;
  padding-left: 10px;
}
p{
  line-height: 1.4em;
}

nav {
  background: #282828;
  top: 0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}
nav a {
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer li {
  flex: 1;
  padding-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoHeader {
  max-width: 0;
  overflow: hidden;
  background: #FF0000;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 20px;
  color: #282828;
  background-image: url("../resources/LJMU-Logo-2.png") top center no-repeat;
  background-size: cover;
  height:auto;
}

.fixed-nav li.logoHeader {
  max-width: 100px;
}

body.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}

.sidePanel{
  top :0;
  width :100%;
  transition: all 0.5s;
  position: relative;
  /*z-index: 1;*/
}
.footer_style{
  background-color:#282828;
  color: #C1CED6;
  height: 100px;

}

.headerGrid, .headerGrid-advice, .headerGrid-future, .headerGrid-study, .headerGrid-money{
  display: grid;
  grid-template-columns: 25% 75% ;
  grid-gap: 10px;
  padding: 0px;
background-size:cover;
}
.headerGrid {
  background-color: var(--index_bg_colour) ;
  background-image: var(--index_bg_image);

}
.headerGrid-advice{
  background-color: var(--advice_bg_colour) ;
  background-image: var(--advice_bg_image);
}
.headerGrid-future{
  background-color: var(--future_bg_colour) ;
  background-image: var(--future_bg_image);
  /*background-image: url("../resources/background_orange.png");*/
}
.headerGrid-money{
  background-color: var(--money_bg_colour) ;
  background-image: var(--money_bg_image);
  /*background-image: url("../resources/background_green.png");*/
}
.headerGrid-study{
  background-color: var(--study_bg_colour) ;
  background-image: var(--study_bg_image);
  /*background-image: url("../resources/background_pink.png");*/
}
.menuHeaders{
  display:grid;
  grid-template-columns: auto auto auto auto auto ;
  background-color: #282828;
  /*height: auto;*/
  /*white-space: nowrap;*/

}
.menuHeader,.selectedMenuHeader{
  vertical-align:middle;
  display: block;
  padding : 10px;
  /*border: solid;
  border-width: 10pt;*/
}
.menuHeader{
  color: #FF0000;
  background-color: #282828;
}
.selectedMenuHeader{
  color: white;
  background-color: #C1CED6;
}
.cat-grid {
  display: grid;
  grid-template-columns:  25% auto 25%;
  grid-gap: 10px;
  padding: 10px;
}
.cat-grid-left1, .cat-grid-left2, .cat-grid-right1, .cat-grid-right2{
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  margin: 20px;
  border : solid;
  border-color: #282828;
  border-width: medium;
  border-radius: 30px;
  background-color: #C1CED6;
}
.cat-grid-left1{
    grid-template-columns: 55% auto auto  ;
    background-color: var(--advice_bg1_colour);
  }
.cat-grid-left2 {
  grid-template-columns: 55% auto auto ;
  background-color:  var(--study_bg1_colour);
}
.cat-grid-right1{
    grid-template-columns: auto auto 55% ;
    background-color:  var(--future_bg1_colour);
  }
  .cat-grid-right2 {
  grid-template-columns: auto auto 55% ;
  background-color:  var(--money_bg1_colour);
}
.content{
padding: 10px;
}
.adviceOrientation, .StudyEssentials,.yourFuture,.moneyMatters,.sidePanel{
  vertical-align:middle;
  display: block;
  border: solid;
  border-radius: 10pt;
  border-color: #282828;
  background-clip: border-box;
  color: #282828;
}
.adviceOrientation{
  background-color: var(--advice_bg1_colour) ;
  background-image: var(--advice_bg_image);
}
.StudyEssentials{
  background-color:var(--study_bg1_colour) ;
    background-image: var(--study_bg_image);
  /*background-image: url("../resources/background_pink.png");*/
}
.yourFuture{
  background-color: var(--future_bg1_colour) ;
  background-image: var(--future_bg_image);
  /*background-image: url("../resources/background_orange.png");*/
}
.moneyMatters{
  background-color: var(--money_bg1_colour) ;
    background-image: var(--money_bg_image);
  /*background-image: url("../resources/background_green.png");*/
}
.relatedlinks{
  grid-column: 1;
  vertical-align:middle;
  display: block;
  color: #282828;
}
.search-bar {
/*  background-image: url("../resources/l_skyline.png");*/
grid-column: 2;
padding: 10pt;
color: #282828;
}
.logo_image{
content: url("../resources/LJMU-Logo-2.png");
max-height: 300px;
height: 100%;
grid-column: 1;
}
.input_field_search{
  width: 80%;
  font-size: 20px;
}
.search_button{
  font-size: 20px;
}

.highlight{
  transition: all 0.2s;
  border-bottom: 2px solid #FF0000;
  position: absolute;
  top: 0;

  /*background: #282828;*/
  colour: #FF0000;
  left: 0;
  z-index: 0;
  border-radius: 10px;
  display: block;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
