
html{
background-color: #C1CED6;
font-family: 'Varela Round', sans-serif;
}
h1 {
  font-size:  40pt;
  font-family: 'Permanent Marker', cursive;
  padding-left: 10pt;
  padding-right: 10pt;
  color: #282828;
}
h2 {
  padding-left: 10pt;
  padding-right: 10pt;
  font-size: 20pt;

}
h3 {
  font-size: 15pt;
  color: #282828;
}
a{
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  line-height: 1.4em;
  padding-left: 10px;
}
p{
  line-height: 1.4em;
}
nav{
  top :0;
  width :100%;
  transition: all 0.5s;
  position: relative;
}
.fixed-nav {

}
.fixed-nav .menuHeaders {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}
.footer_style{
  background-color:#282828;
  color: #C1CED6;
  height: 40pt;

}

.headerGrid, .headerGrid-advice, .headerGrid-future, .headerGrid-study, .headerGrid-money{
  display: grid;
  grid-template-columns: 25% 75% ;
  grid-gap: 10px;
  padding: 0px;
}
.headerGrid-advice{
  background-image: url("../resources/background_blue.png");
}
.headerGrid-future{
  background-image: url("../resources/background_orange.png");
}
.headerGrid-money{
  background-image: url("../resources/background_green.png");
}
.headerGrid-study{
  background-image: url("../resources/background_pink.png");

}
.menuHeaders{
  display:grid;
  grid-template-columns: auto auto auto auto ;
  background-color: #282828;
  /*height: auto;*/
  /*white-space: nowrap;*/

}
.menuHeader,.selectedMenuHeader{
  vertical-align:middle;
  display: block;
  padding : 10px;
  /*border: solid;
  border-width: 10pt;*/
}
.menuHeader{
  color: red;
  background-color: #282828;
}
.selectedMenuHeader{
  color: white;
  background-color: #C1CED6;
}
.cat-grid {
  display: grid;
  grid-template-columns:  25% auto 25%;
  grid-gap: 10px;
  padding: 10px;
}
.cat-grid-left,.cat-grid-right{
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  margin: 20px;
  border : solid;
  border-color: #282828;
  border-width: medium;
  border-radius: 30px;
  background-color: #C1CED6;
}
.cat-grid-left {
  grid-template-columns: 55% auto auto ;
}
.cat-grid-right {
  grid-template-columns: auto auto 55% ;
}
.content{

}
.adviceOrientation, .StudyEssentials,.yourFuture,.moneyMatters,.relatedlinks,.sidePanel{
  border: solid;
  border-radius: 10pt;
  border-color: #282828;
  background-clip: border-box;
}
.adviceOrientation{
  background-color: #37738d;
  background-image: url("../resources/background_blue.png");
}
.StudyEssentials{
  background-color: #8d2323;
  background-image: url("../resources/background_pink.png");
}
.yourFuture{
  background-color: #37738d;
  background-image: url("../resources/background_orange.png");
}
.moneyMatters{
  background-color: #8d2323;
  background-image: url("../resources/background_green.png");
}
.relatedlinks{
  grid-column: 1;
}
.search-bar {
/*  background-image: url("../resources/l_skyline.png");*/
grid-column: 2;
padding: 10pt;
}
.logo_image{
content: url("../resources/LJMU-Logo-2.png");
max-height: 300px;
height: 100%;
grid-column: 1;
}
.input_field_search{
  width: 80%;
  font-size: 20px;
}
.search_button{
  font-size: 20px;
}
