---
layout: sub_page
title: Fees and Funding
---
<div class="cat-grid">
  <div class="relatedlinks">

  {% include money_side_panel.html %}

  </div>
  <div class="content">
            <!-- article content -->
                <h2 id="article-title" class="type-mega">What you need to know about fees and funding</h2>
<br>

            <p>Everything you need to understand your tuition fees, funding options and other useful information to help you manage your student finances can be found below. The information relates to both UK and EU students, where differences exist, these will be noted in the text. If you have any questions or need expert advice please <a href="/discover/fees-and-funding/useful-funding-info/contact-us">get in touch</a> with one of our advisors.</p>
<hr>
<h4><strong>Tuition fees</strong></h4>
<p>As an undergraduate student, you will be charged a tuition fee for each year of your course. The amount you will be charged is dependent on the year you commence your studies and where you live before you start your course. </p>
<p><strong>Students starting in 2019 </strong></p>
<p>For students commencing study in 2019, all of our tuition fees can be found on the <a href="/study/courses/undergraduates">specific course information</a>. Once you've found a course that your interested in, you'll find all the information about fees and funding on the <a href="/study/courses/undergraduates">course information page</a>.</p>
<p><strong>Current students</strong></p>
<p>For current students, your tuition fee information would have been confirmed to you prior to commencing your studies. If you need to check the information or are unsure of any aspect of your tuition fees, please contact the <a href="https://www2.ljmu.ac.uk/student-administration/" target="_blank">student administration centre</a> (login required) in your library.</p>
<hr>
<h4><strong>Funding options</strong></h4>
<p>Undergraduate students have a range of funding options available to them in the form of <a href="/discover/fees-and-funding/undergraduate-finance/tuition-fees-and-maintenance-loans">tuition fees and maintenance loans</a>, <a href="/discover/fees-and-funding/undergraduate-finance/scholarships">scholarships</a> and <a href="/discover/fees-and-funding/undergraduate-finance/bursaries">bursaries</a>.</p>
        </div>


  <div class="newspanel">
  {% include news_events_panel.html %}
  </div>
</div>
