<div class="sidePanel" id ="sidePanelA">
  <h1>Related Links </h1>
<ul>
  <li>
    <a href="student_advice.html"
    {% if page.url == "/advice/student_advice.html" %}style="color: red;"{% endif %}>
    Student Advice
  </a>
</li>
  <li><a href="student_guides.html"
    {% if page.url == "/advice/student_guides.html" %}style="color: red;"{% endif %}>
    Student Guides
  </a>
</li>
  <li>
    <a href="registry_services.html"
    {% if page.url == "/advice/registry_services.html" %}style="color: red;"{% endif %}>
    Registry Services
  </a>
</li>
  <li>
    <a href="absence_notification.html"
    {% if page.url == "/advice/absence_notification.html" %}style="color: red;"{% endif %}>
    Absence Notification
  </a>
  </li>
  <li><a href="SIS.html"
    {% if page.url == "/advice/SIS.html" %}style="color: red;"{% endif %}>
    S.I.S
  </a>
</li>
  <li>
    <a href="parents.html"
    {% if page.url == "/advice/parents.html" %}style="color: red;"{% endif %}>
    Parents
  </a>
</li>
  <li>
    <a href="policies_procedures.html"
    {% if page.url == "/advice/policies_procedures.html" %}style="color: red;"{% endif %}>
    Policies and Procedures
  </a>
</li>
  <li>
    <a href="guide_LJMU.html"
    {% if page.url == "/advice/guide_LJMU.html" %}style="color: red;"{% endif %}>
    Quick Guide to LJMU
  </a>
</li>
  <li>
    <a href="international_students.html"
    {% if page.url == "/advice/international_students.html" %}style="color: red;"{% endif %}>
    International Students
  </a>
</li>
  <li>
    <a href="mature_students.html"
    {% if page.url == "/advice/mature_students.html" %}style="color: red;"{% endif %}>
    Mature Students
  </a>
</li>
<li>
  <a href="disabled_students.html"
  {% if page.url == "/advice/disabled_students.html" %}style="color: red;"{% endif %}>
  Disabled Students
</a>
</li>
<li>
  <a href="spirituality.html"
  {% if page.url == "/advice/spirituality.html" %}style="color: red;"{% endif %}>
  Spirituality
</a>
</li>
<li>
  <a href="university_structure.html"
  {% if page.url == "/advice/university_structure.html" %}style="color: red;"{% endif %}>
  University Structure
</a>
</li>
<li>
  <a href="location_maps.html"
  {% if page.url == "/advice/location_maps.html" %}style="color: red;"{% endif %}>
  Location Maps
</a>
</li>
<li>
  <a href="faculties_schools.html"
  {% if page.url == "/advice/faculties_schools.html" %}style="color: red;"{% endif %}>
  Faculties, Schools
</a>
</li>
<li>
  <a href="erasmus.html"
  {% if page.url == "/advice/erasmus.html" %}style="color: red;"{% endif %}>
  Erasmus
</a>
</li>
<li>
  <a href="accommodation.html"
  {% if page.url == "/advice/accommodation.html" %}style="color: red;"{% endif %}>
  Accommodation
</a>
</li>
<li>
  <a href="accommodation.html"
  {% if page.url == "/advice/accommodation.html" %}style="color: red;"{% endif %}>
  Accommodation FAQs
</a>
</li>
<li>
  <a href="student_union.html"
  {% if page.url == "/advice/student_union.html" %}style="color: red;"{% endif %}>
  Student Union
</a>
</li>
</ul>
</div>

<!-- <script>
  const triggers = document.querySelectorAll('a');
  const highlight = document.createElement('span');
  highlight.classList.add('highlight');
  document.body.appendChild(highlight);
  function highlightLink() {
    const linkCoords = this.getBoundingClientRect();
    console.log(linkCoords);
    const coords = {
      width: linkCoords.width,
      height: linkCoords.height,
      top: linkCoords.top + window.scrollY,
      left: linkCoords.left + window.scrollX
    };
    //this.style.color=#FFFFFF;
    highlight.style.width = `${coords.width+10}px`;
    highlight.style.height = `${coords.height+2}px`;
    highlight.style.transform = `translate(${coords.left}px, ${coords.top}px)`;
  }
  triggers.forEach(a => a.addEventListener('mouseenter', highlightLink));
</script> -->
