<footer>
<div class="footer_style">
    <ul>
      <li >
        <a href="https://www.youtube.com/user/LJMUTV">
        <img src="https://jessybuni.github.io/ljmu-site/resources/youtube-logo.png" alt="youtube" height="50px" width="50px">
      </a>
      </li>
      <li>
        <a href="https://www.facebook.com/LJMUOfficial">
      <img src="https://jessybuni.github.io/ljmu-site/resources/facebook-logo.png" alt="facebook" height="50px" width="50px">
</a>
      </li>
      <li >
        <a href="https://twitter.com/LJMU">
        <img src="https://jessybuni.github.io/ljmu-site/resources/twitter-logo.png" alt="twitter" height="50px" width="50px">
</a>
      </li>
      <li >
        <a href="https://www.linkedin.com/edu/liverpool-john-moores-university-12607">
        <img src="https://jessybuni.github.io/ljmu-site/resources/linkedin-logo.png" alt="linkedin" height="50px" width="50px">
</a>
      </li>
      <li >
      </li>
    </ul>
</div>
</footer>
