<h1 align="left">Related Links </h1>
<ul>
<li>
  <a href="research_ethics_governance.html"
  {% if page.url == "/future/research_ethics_governance.html" %}style="color: red;"{% endif %}>
    Research, Ethics, Governance
  </a>
</li>
<li>
  <a href="doctoral_academy.html"
  {% if page.url == "/future/doctoral_academy.html" %}style="color: red;"{% endif %}>
    Doctoral Academy
  </a>
  </li>
<li>
  <a href="post_graduate_courses.html"
  {% if page.url == "/future/post_graduate_courses.html" %}style="color: red;"{% endif %}>
    Post Graduate Courses
  </a>
  </li>
<li>
  <a href="careers_support.html"
  {% if page.url == "/future/careers_support.html" %}style="color: red;"{% endif %}>
    Careers Support
  </a>
  </li>
<li>
  <a href="working_LJMU.html"
  {% if page.url == "/future/working_LJMU.html" %}style="color: red;"{% endif %}>
    Working at LJMU
  </a>
  </li>
<li>
  <a href="start_business.html"
  {% if page.url == "/future/start_business.html" %}style="color: red;"{% endif %}>
    Help with starting a business
  </a>
  </li>
</ul>
