<div class="sidePanel">
  <h1>Related Links </h1>
  <ul>
    <li>
      <a href="research_ethics_governance.html"
      {% if page.url == "/future/research_ethics_governance.html" %}style="color: red;"{% endif %}>
      Research, Ethics, Governance
    </a>
  </li>
  <li>
    <a href="doctoral_academy.html"
    {% if page.url == "/future/doctoral_academy.html" %}style="color: red;"{% endif %}>
    Doctoral Academy
  </a>
</li>
<li>
  <a href="post_graduate_courses.html"
  {% if page.url == "/future/post_graduate_courses.html" %}style="color: red;"{% endif %}>
  Post Graduate Courses
</a>
</li>
<li>
  <a href="careers_support.html"
  {% if page.url == "/future/careers_support.html" %}style="color: red;"{% endif %}>
  Careers Support
</a>
</li>
<li>
  <a href="working_LJMU.html"
  {% if page.url == "/future/working_LJMU.html" %}style="color: red;"{% endif %}>
  Working at LJMU
</a>
</li>
<li>
  <a href="start_business.html"
  {% if page.url == "/future/start_business.html" %}style="color: red;"{% endif %}>
  Help with starting a business
</a>
</li>
</ul>
</div>
<script>
  const triggers = document.querySelectorAll('a');
  const highlight = document.createElement('span');
  highlight.classList.add('highlight');
  document.body.appendChild(highlight);
  function highlightLink() {
    const linkCoords = this.getBoundingClientRect();
    console.log(linkCoords);
    const coords = {
      width: linkCoords.width,
      height: linkCoords.height,
      top: linkCoords.top + window.scrollY,
      left: linkCoords.left + window.scrollX
    };
    //this.style.color=#FFFFFF;
    highlight.style.width = `${coords.width+10}px`;
    highlight.style.height = `${coords.height+2}px`;
    highlight.style.transform = `translate(${coords.left}px, ${coords.top}px)`;
  }
  triggers.forEach(a => a.addEventListener('mouseenter', highlightLink));
</script>
