<div
{% if page.dir == "/" %}class="headerGrid"{% endif %}
{% if page.dir == "/advice/" %}class="headerGrid-advice"{% endif %}
{% if page.dir == "/study/" %}class="headerGrid-study"{% endif %}
{% if page.dir == "/money/" %}class="headerGrid-money"{% endif %}
{% if page.dir == "/future/" %}class="headerGrid-future"{% endif %}>
<a href ="https://jessybuni.github.io/ljmu-site" >
  <img src="https://jessybuni.github.io/ljmu-site/resources/LJMU-Logo-2.png" alt="LJMU LOGO" style="float:left;width:250px;max-height:250px;" align="bottom">
<!-- <div class="logo_image"></div>
content: url("../resources/LJMU-Logo-2.png");
max-height: 200px; -->
</a>
  <div class="search-bar">
    <h1 align="right">Liverpool John Moores </h1>
    <h1 align="right">{{ page.title }}</h1>
    <h2 align="right">All you need to know about LJMU</h2>
    <form action="/action_page.php">
      <button class="search_button" type="submit">
        Search
      </button>
      <input class="input_field_search" type="text" placeholder="Search..." name="search">


    </form>
  </div>
</div>
