<div class="sidePanel">
<h1>Related Links  </h1>
<ul>
<li>
  <a href="fees_funding.html"
  {% if page.url == "/money/fees_funding.html" %}style="color: red;"{% endif %}>
  Fees and Funding
</a>
</li>
<li>
  <a href="online_payments.html"
  {% if page.url == "/money/online_payments.html" %}style="color: red;"{% endif %}>
  Online payments
</a>
</li>
<li>
  <a href="virtual_purse.html"
  {% if page.url == "/money/virtual_purse.html" %}style="color: red;"{% endif %}>
  Virtual purse
</a>
</li>
<li>
  <a href="deals_offers.html"
  {% if page.url == "/money/deals_offers.html" %}style="color: red;"{% endif %}>
  Deals and offers
</a>
</li>
<li>
  <a href="LJMU_merchandise.html"
  {% if page.url == "/money/LJMU_merchandise.html" %}style="color: red;"{% endif %}>
  LJMU Merchandise
</a>
</li>
<li>
  <a href="classified_ads.html"
  {% if page.url == "/money/classified_ads.html" %}style="color: red;"{% endif %}>
  Classified Ads
</a>
</li>
</ul>
</div>
<script>
  const triggers = document.querySelectorAll('a');
  const highlight = document.createElement('span');
  highlight.classList.add('highlight');
  document.body.appendChild(highlight);
  function highlightLink() {
    const linkCoords = this.getBoundingClientRect();
    console.log(linkCoords);
    const coords = {
      width: linkCoords.width,
      height: linkCoords.height,
      top: linkCoords.top + window.scrollY,
      left: linkCoords.left + window.scrollX
    };
    //this.style.color=#FFFFFF;
    highlight.style.width = `${coords.width+10}px`;
    highlight.style.height = `${coords.height+2}px`;
    highlight.style.transform = `translate(${coords.left}px, ${coords.top}px)`;
  }
  triggers.forEach(a => a.addEventListener('mouseenter', highlightLink));
</script>
