<div class="menuHeaders">
  <div class="menuHeader">
      <a href="../advice/advice.html" {% if page.dir == "/advice/" %}class="selectedMenuHeader"{% endif %}>
        <h2>Advice and Orientation</h2>
    </a>
  </div>
  <div class="menuHeader">
      <a href="../study/study.html" {% if page.dir == "/study/" %}class="selectedMenuHeader"{% endif %}>
        <h2>Study Essentials</h2>
    </a>
  </div>
  <div class="menuHeader">
    <a href="../future/future.html" {% if page.dir == "/future/" %} class="selectedMenuHeader" {% endif %}>
      <h2>Your Future</h2>
  </a>
  </div>
  <div class="menuHeader">
      <a href="../money/money.html" {% if page.dir == "/money/" %}class="selectedMenuHeader"{% endif %}>
        <h2>Money Matters</h2>
    </a>
  </div>
</div>
<script type="text/javascript">
  const nav = document.querySelector('#index');
  const topOfNav =nav.offsetTop;
  function fixNav(){
console.log(  topOfNav);
  }
  window.addEventListener('scroll', fixNav);
</script>
