  <div class="sidePanel">
    <h1>Related Links </h1>
    <br></br>
  <ul>
  <li>
    <a href="off_campus_app.html"
    {% if page.url == "/study/off_campus_app.html" %}style="color: red;"{% endif %}>
    Off Campus App
  </a>
  </li>
  <li>
    <a href="email.html"
    {% if page.url == "/study/email.html" %}style="color: red;"{% endif %}>
    Email
  </a>
  </li>
  <li>
    <a href="canvas.html"
    {% if page.url == "/study/canvas.html" %}style="color: red;"{% endif %}>
      Canvas
  </a>
  </li>
  <li>
    <a href="IT.html"
    {% if page.url == "/study/IT.html" %}style="color: red;"{% endif %}>
    IT
  </a>
  </li>
  <li>
    <a href="help_it.html"
    {% if page.url == "/study/help_it.html" %}style="color: red;"{% endif %}>
    Help with IT
  </a>
  </li>
  <li>
    <a href="student_it_zones.html"
    {% if page.url == "/study/student_it_zones.html" %}style="color: red;"{% endif %}>
    Student IT Zones
  </a>
  </li>
  <li>
    <a href="change_password.html"
    {% if page.url == "/study/change_password.html" %}style="color: red;"{% endif %}>
    Activate/Change Password
  </a>
  </li>
  <li>
    <a href="assessments.html"
    {% if page.url == "/study/assessments.html" %}style="color: red;"{% endif %}>
    Assessments
  </a>
  </li>
  <li>
    <a href="timetables.html"
    {% if page.url == "/study/timetables.html" %}style="color: red;"{% endif %}>
    Timetables
  </a>
  </li>
  <li>
    <a href="exam_timetables.html"
    {% if page.url == "/study/exam_timetables.html" %}style="color: red;"{% endif %}>
    Exam Timetables
  </a>
  </li>
  <li>
    <a href="library_resources.html"
    {% if page.url == "/study/library_resources.html" %}style="color: red;"{% endif %}>
    Library Resources
  </a>
  </li>
  <li>
    <a href="libraries.html"
    {% if page.url == "/study/libraries.html" %}style="color: red;"{% endif %}>
    Libraries
  </a>
  </li>
  <li>
    <a href="help_study_skills.html"
    {% if page.url == "/study/help_study_skills.html" %}style="color: red;"{% endif %}>
    Help Study Skills
  </a>
  </li>
  </ul>
</div>
<script>
  const triggers = document.querySelectorAll('a');
  const highlight = document.createElement('span');
  highlight.classList.add('highlight');
  document.body.appendChild(highlight);
  function highlightLink() {
    const linkCoords = this.getBoundingClientRect();
    console.log(linkCoords);
    const coords = {
      width: linkCoords.width,
      height: linkCoords.height,
      top: linkCoords.top + window.scrollY,
      left: linkCoords.left + window.scrollX
    };
    //this.style.color=#FFFFFF;
    highlight.style.width = `${coords.width+10}px`;
    highlight.style.height = `${coords.height+2}px`;
    highlight.style.transform = `translate(${coords.left}px, ${coords.top}px)`;
  }
  triggers.forEach(a => a.addEventListener('mouseenter', highlightLink));
</script>
