<!doctype html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link rel="stylesheet" href="css/page_reset.css">
  <link rel="stylesheet" href="css/menuPageStyle.css">
  <title>{{ page.title }}</title>
</head>
<body>
  <header>
    {% include header.html%}
    <nav  id ="main-nav">
      <ul>
        <li class="logoHeader">
          <a href=".." >
          <h2>LJ</h2><h2>MU</h2></a></li>
        <li {% if page.dir == "/advice/" %}class="selectedMenuHeader"
        {% else %} class = "menuHeader"{% endif %}>
        <a href="/advice/advice.html">
          <h2>Advice and Orientation</h2>
        </a></li>
        <li {% if page.dir == "/study/" %}class="selectedMenuHeader"
        {% else %} class = "menuHeader"{% endif %}>
        <a href="/study/study.html">
          <h2>Study Essentials</h2>
        </a></li>
        <li {% if page.dir == "/future/" %} class="selectedMenuHeader"
        {% else %} class = "menuHeader" {% endif %}>
        <a href="/future/future.html">
          <h2>Your Future</h2>
        </a></li>
        <li {% if page.dir == "/money/" %}class="selectedMenuHeader"
          {% else %} class = "menuHeader"{% endif %}>
          <a href="/money/money.html">
          <h2>Money Matters</h2>
        </a></li>
      </ul>
    </nav>
  </header>

  {{ content }}
</body>
{% include footer.html%}

<script type="text/javascript">
  const nav = document.querySelector('#main-nav');
  let topOfNav = nav.offsetTop;
  function fixNav() {
      if (window.scrollY >= topOfNav) {
        document.body.style.paddingTop = nav.offsetHeight + 'px';
        document.body.classList.add('fixed-nav');
      } else {
        document.body.classList.remove('fixed-nav');
        document.body.style.paddingTop = 0;
      }
    }
    window.addEventListener('scroll', fixNav);
</script>
