<!doctype html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link rel="stylesheet" href="../css/page_reset.css">
  <link rel="stylesheet" href="../css/menuPageStyle.css">
  <title>{{ page.title }}</title>
</head>
<body>
  <header>
    <div class="headerGrid_study">
      <img src="../resources/LJMU_LOGO1.png" alt="LJMU Logo" height="200pt">
      <div class="search-bar">
        <h1 align="right">Liverpool John Moores </h1>
        <h1 align="right">{{ page.title }} </h1>
        <h2 align="right">All your possible needs as a student at LJMU</h2>
        <form action="/action_page.php">
          <input class="input_field_search" type="text" placeholder="Search..." name="search">
          <button class="search_button" type="submit">
            Search
          </button>
        </form>
      </div>
    </div>
{% include navigation.html%}
  </header>

  {{ content }}
</body>
